table {
  width: 100%;
  
}
input:not([type="text"]){
  width: 100%;
  box-sizing: border-box;
  }
  #myBody {
    background-color: #dda90b;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background: -webkit-gradient(
      radial,
      center center,
      0,
      center center,
      460,
      from(#f2d709),
      to(#13da38)
    );
    background: -webkit-radial-gradient(circle, #f7d61a, #ebcb18);
    background: -moz-radial-gradient(circle, #f7bc1a, #c82525);
    background: -ms-radial-gradient(circle, #c3f71a, #a60b0b);
  }
#myCaption {
  background: #f53808;
  color: #eee;
  text-align: center;
  padding: 10px;
  border-radius: 55px;
  font-weight: bold;
}
#myHeader {
  background-color: #400040;
  color: red;
  padding: 10px;
  text-align: center;
}
a:hover {
  background-color: yellow;
}